@page "/supplier/quotes/awarded"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>Won Quotes - ProQuote</PageTitle>

<h1 class="pq-section-title">Won Quotes</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for awarded contract history.</p>
</PqCard>
