@page "/supplier/quotes/draft"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>Draft Quotes - ProQuote</PageTitle>

<h1 class="pq-section-title">Draft Quotes</h1>
<PqCard>
    <p class="pq-body-sm">Draft quotes are not enabled in the current workflow. Use "All Quotes" and edit submitted quotes until RFQ deadline.</p>
</PqCard>
