@page "/supplier/invitations"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>RFQ Invitations - ProQuote</PageTitle>

<h1 class="pq-section-title">All Invitations</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for invitation management.</p>
</PqCard>
