@page "/supplier/messages"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>Supplier Messages - ProQuote</PageTitle>

<h1 class="pq-section-title">Messages</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for supplier messaging.</p>
</PqCard>
