@page "/supplier/invitations/new"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>New Invitations - ProQuote</PageTitle>

<h1 class="pq-section-title">New Invitations</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for new invitation handling.</p>
</PqCard>
