@page "/supplier/quotes"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>My Quotes - ProQuote</PageTitle>

<h1 class="pq-section-title">All Quotes</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for supplier quote listing.</p>
</PqCard>
