@page "/supplier/quotes/submitted"
@rendermode InteractiveServer
@layout SupplierLayout
@attribute [Authorize(Roles = ApplicationRoles.Supplier)]

<PageTitle>Submitted Quotes - ProQuote</PageTitle>

<h1 class="pq-section-title">Submitted Quotes</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for submitted quote tracking.</p>
</PqCard>
