<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="_content/ProQuote.UI/css/proQuote.ui.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ProQuote.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode(prerender: false)" />
</head>

<body>
    <Routes @rendermode="new Microsoft.AspNetCore.Components.Web.InteractiveServerRenderMode(prerender: false)" />
    <ReconnectModal />
    <script src="_content/ProQuote.UI/js/pq-interop.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
