@page "/buyer/quotes/compare"
@rendermode InteractiveServer
@layout BuyerLayout
@attribute [Authorize(Roles = ApplicationRoles.Buyer)]

<PageTitle>Compare Quotes - ProQuote</PageTitle>

<h1 class="pq-section-title">Compare Quotes</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for quote comparison.</p>
</PqCard>
