@page "/buyer/rfqs/create"
@rendermode InteractiveServer
@layout BuyerLayout
@attribute [Authorize(Roles = ApplicationRoles.Buyer)]

<PageTitle>Create RFQ - ProQuote</PageTitle>

<h1 class="pq-section-title">Create RFQ</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for RFQ creation.</p>
</PqCard>
