@page "/buyer/messages"
@rendermode InteractiveServer
@layout BuyerLayout
@attribute [Authorize(Roles = ApplicationRoles.Buyer)]

<PageTitle>Messages - ProQuote</PageTitle>

<h1 class="pq-section-title">Messages</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for buyer messaging.</p>
</PqCard>
