@page "/buyer/suppliers"
@rendermode InteractiveServer
@layout BuyerLayout
@attribute [Authorize(Roles = ApplicationRoles.Buyer)]

<PageTitle>Suppliers - ProQuote</PageTitle>

<h1 class="pq-section-title">Suppliers</h1>
<PqCard>
    <p class="pq-body-sm">This page is available and ready for supplier browsing.</p>
</PqCard>
