@if (Lines <= 1)
{
    <div class="pq-skeleton @(Circle ? "pq-skeleton--circle" : string.Empty)" style="width:@Width; height:@Height;"></div>
}
else
{
    <div class="pq-skeleton-group" style="gap:@Gap;">
        @for (int i = 0; i < Lines; i++)
        {
            <div class="pq-skeleton" style="width:@Width; height:@Height;"></div>
        }
    </div>
}
@code {
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "16px";
    [Parameter] public bool Circle { get; set; }
    [Parameter] public int Lines { get; set; } = 1;
    [Parameter] public string Gap { get; set; } = "var(--pq-space-2)";
}
